@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

h4{
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.main-section{
    padding: 20px;
}

#special-p{
font-size: 0.8em;
}
img{
    width: 100%;
}
h1, h4{
    font-family: 'Lato', sans-serif;
}
h1{
    color: rgb(156, 77, 77);
}

h1:hover{
    color: blueviolet;
}
.input-field{
    display: block;
    width: 100%;
}
#footerwrapper{
    max-width: 400px;
    margin: 0 auto;
}